@import 'styles/reset/reset';

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("styles/Fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"),
   url("styles/Fonts/Lato-Regular/Lato-Regular.woff") format("woff"),
   url("styles/Fonts/Lato-Bold/Lato-Regular.woff2") format("woff2"),  
   url("styles/Fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"),
   url('styles/Fonts/Lato-Light/Lato-Regular.svg#Lato-Light') format('svg'); }

@import 'styles/fonts/body-font';
@import 'styles/Body_Width/body-width';
@import 'styles/variables/variables';
@import 'styles/Header_Light/style';
@import 'styles/Scroll_Container/scroll_container';

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $global-light-theme-color;
}

body,
main,
.billet-block {
  background: $global-light-theme-color;
}

// Demo-block --->

.demo-block {
  display: flex;
  min-height: 600px;
  background-image: url('images/main-photo.jpg');
  background-repeat:  no-repeat;
  background-position:  center center;
  background-size: cover;
  background-color: $global-light-theme-color;
}

.demo-block_opacity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(0,0,0,.4);
}

.demo-block__h1-text {
  font-size: 50px;
  color: $global-light-theme-color;
  letter-spacing: .3px;
  margin-top: 160px;
  font-weight: $global-font-weight;
  text-align: center;
}

.demo-block__h2-text {
  font-size: 30px;
  color: $global-light-theme-color;
  max-width: $global-textblock-width;
  letter-spacing: .3px;
  text-align: center;
  margin-top: 37px;
  font-weight: $global-font-weight;
}

.demo-block__demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 70px;
  background-color: #f5a623;
  font-size: $font-size-big;
  color: $global-light-theme-color;
  margin-top: 77px;
}

.more-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 71px;
  margin-bottom: 27px;
}

.more-info-wrapper__text {
  opacity: 0.5;
  color: $global-light-theme-color;
  font-size: $font-size-bigger;
}

.arrow-down {
  display: inline-flex;
  width: 30px;
  height: 16px;
  margin-top: 20px;
}

// <--- Demo-block

//About-block --->

.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 0 99px 0;
  border-bottom: $global-blocks-border;
  background: $global-light-theme-color;
}

.about-block__h2-text {
  font-size: 30px;
  font-weight: $global-font-weight;
  color: $global-light-theme-text-color;
}

.about-block__p-text {
  @extend .about-block__h2-text;
  font-size: 18px;
  max-width: $global-textblock-width;
  text-align: center;
  margin-top: 50px;
  line-height: 1.56;
  font-weight: $global-font-weight;
}

//<--- About-block

//Question-block --->

.question-block {
  min-height: 450px;
  display: flex;
  line-height: 1.5;
}

.question-block_img {
  background-image: url(images/business-fm.jpg);
  background-repeat:  no-repeat;
  background-position:  center center;
  background-size: cover;
  background-color: $global-light-theme-color;
  flex: 1 1 400px;
}

.question-block__text-wrapper {
  background: $global-dark-theme-color;
  flex: 1.93 0 300px;
  padding: 43px 50px;
  min-height: 410px;
}

.question-block__h2-text {
  font-size: 30px;
  font-weight: $global-font-weight;
  color: $global-light-theme-color;
  margin-bottom: 34px;
  letter-spacing: .3px;
}

.question-block__p-text {
  max-width: 490px;
  font-size: 18px;
  color: $global-light-theme-color;
  margin-bottom: 20px;
}

.question-block__p-text:last-child {
  margin-bottom: 0;
}

//<--- Question-block

//Come-on-demo-block --->

.come-on-demo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  border-bottom: $global-blocks-border;
  background: $global-light-theme-color;
}

.come-on-demo-block__demo-button {
  @extend .demo-block__demo-button;
  margin-top: 40px;
}

.come-on-demo-block__h2-text {
  max-width: 620px;
  font-size: 26px;
  font-weight: $global-font-weight;
  line-height: 1.38;
  text-align: center;
  color: $global-light-theme-text-color;
  letter-spacing: .3px;
  margin-top: 70px;
}

// <--- Come-on-demo-block

//Reviews-block --->

.reviews-block {
  min-height: 470px;
  background: $global-light-theme-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 39px;
}

.reviews-block__reviews-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1150px;
}

.reviews-block__reviews-post {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 30px 0 0 84px;
}

.reviews-block__reviews-post_pos-x {
  position: relative;
  left: 14px;
}

.reviews-block__reviews-post_pos-y {
  position: relative;
  bottom: 33px;
}

.reviews-block__client-logo {
  width: 200px;
}

.reviews-block__client-review {
  font-size: $font-size-big;
  color: $global-light-theme-text-color;
  font-weight: 400;
  margin-top: 23px;
  line-height: 1.65;
}

.reviews-block__review-author {
  @extend .reviews-block__client-review;
  font-weight: 600;
  margin-top: 10px;
  max-width: 355px;
}

.reviews-block__more-info-link {
  font-size: 18px;
  color: #1b92d3;
  margin-top: 45px;
  position: relative;
  left: 16px;
}

//<--- Reviews-block

//World-map-block --->

.world-map-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 400px;
  background: #f2f2f2;
}

.world-map-block__wrapper-for-text {
  display: inline-flex;
  justify-content: flex-end;
  padding-bottom: 7px;
}

.world-map-block__wrapper-for-img {
  display: inline-flex;
  justify-content: center;
}


.world-map-block__map-img {
  height: 280px;
  position: relative;
  left: 116px;
}

.world-map-block__p-text {
  max-width: 440px;
  line-height: 1.78;
  color: $global-light-theme-text-color;
  font-size: 18px;
  font-weight: $global-font-weight;
  letter-spacing: .1px;
}

.world-map-block__link {
  @extend .reviews-block__more-info-link;
  margin-top: 0;
  left: auto;
}

//<--- World-map-block

@import 'styles/Footer_Form/footer_form';
@import 'styles/media/media';