@import 'styles/Reset/index';
@import 'styles/Globals/index';
@import 'styles/Variables/index';
@import 'styles/Header_Light_Style/index';

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $global-light-theme-color;
}

body,
main,
.billet-block {
  background: $global-light-theme-color;
}

// Demo-block --->

.demo-block {
  display: flex;
  min-height: 600px;
  background-image: url('images/main-photo.jpg');
  background-repeat:  no-repeat;
  background-position:  center center;
  background-size: cover;
  background-color: $global-light-theme-color;
}

.demo-block_opacity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(0,0,0,.4);
}

.demo-block__h1-text {
  font-size: 70px;
  color: $global-light-theme-color;
  letter-spacing: .3px;
  margin-top: 120px;
  font-weight: $global-font-weight;
  text-align: center;
  max-width: 730px;
}

.demo-block__h2-text {
  font-size: 30px;
  color: $global-light-theme-color;
  max-width: 420px;
  letter-spacing: .3px;
  text-align: center;
  margin-top: 30px;
  opacity: .6;
  line-height: 1.27;
}

.demo-block__demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 94px;
  height: 48px;
  border-radius: 4px;
  background-color: #f5a623;
  font-size: $font-size-bigger;
  color: $global-light-theme-color;
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
}

// <--- Demo-block

//About-block --->

.about-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 0;
  border-bottom: $global-blocks-border;
  background: $global-light-theme-color;
}

.about-block__align-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
}

.about-block__h2-text {
  font-size: 40px;
  font-weight: 600;
  max-width: 150px;
  color: #2c3e4f;
}

.about-block__p-text {
  font-size: 18px;
  max-width: 680px;
  line-height: 1.5;
}

//<--- About-block

//Question-block --->

.question-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 0 70px;
  background-image: url(images/business-fm.jpg);
  background-repeat:  no-repeat;
  background-position:  center center;
  background-size: cover;
  background-color: $global-light-theme-color;
}

.question-block__align-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 980px;
}

.question-block__text-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 440px;
  height: 450px;
  background-color: $global-light-theme-color;
  padding: 30px;
}

.question-block__h2-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #2c3e4f;
  margin-bottom: 18px;
}

.question-block__p-text {
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 45px;
}

.question-block__p-text:last-child {
  margin-bottom: 0;
}

//<--- Question-block

// Omnicanal --->

.omnicanal-block {
 display: flex;
 align-items: flex-start;
 justify-content: center;
 padding: 80px 0;
 background-color: $global-light-theme-color;
}


.omnicanal-block__align-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 980px;
}

.omnicanal-block__text-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.omnicanal-block__h2-text {
  max-width: 236px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.15;
  color: #2c3e4f;
  margin-right: 64px;
}

.omnicanal-block__p-text {
  font-size: 20px;
  line-height: 1.5;
  color: #1e1e1e;
}

.omnicanal-block__icons-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.omnicanal-block__advantage {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  height: 130px;
}

.omnicanal-block__img-hold {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.omnicanal-block__advantage_title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #1e1e1e;
  margin-top: 27px;
}

// <--- Omnicanal

// CE-block --->

.CE-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background-color: #2c3e4f;
}

.CE-block__title {
  max-width: 880px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.CE-block__CE {
  font-size: 40px;
  font-weight: 600;
  color: #ff9b00;
}

.CE-block__button {
  @extend .demo-block__demo-button;
}

// <--- CE-block

// Clients-block --->

.clients-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.clients-block__align-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;
}

.clients-block__p-text {
  max-width: 380px;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  color: #1e1e1e;
  margin-bottom: 40px;
}

.clients-block__c-link {
  width: 380px;
  font-size: 20px;
  font-weight: 600;
  color: #ff9b00;
}

@import 'styles/Footer_Style/index';
@import 'styles/Modal_Style/index';
@import 'styles/Form_Style/index';
@import 'styles/Media/index';