@import '../../styles/Reset/index';
@import '../../styles/Globals/index';
@import '../../styles/Variables/index';
@import '../../styles/Header_Dark_Style/index';
@import '../../styles/Scroll_Container/scroll_container';

//Global-styles --->

body,
main,
.billet-block {
  background: $global-dark-theme-color;
}

//<--- Global-styles

//Bottom-menu --->

.bottom-menu {
  background: $global-dark-theme-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 69px;
  border-bottom: $dark-theme-border;
  border-top: $dark-theme-border;
}

.bottom-menu__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
}

.bottom-menu__link {
  @extend .top-menu__link;
  font-size: $font-size-bigger;
}

//<--- Bottom-menu

//Interviews-block --->

.interviews-block {
  display: flex;
  background: $global-dark-theme-color;
  align-items: center;
  justify-content: center;
  height: 141px;
  border-top: $dark-theme-border;
}

.interviews-block__h1-text {
  font-size: 40px;
  color: $global-light-theme-color;
  font-weight: $global-font-weight;
}

//<--- Interviews-block

//Programm-description-block --->

.programm-description-block {
  display: flex;
  background: $global-light-theme-color;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 420px;
  padding: 70px 0 65px 0;
}

.programm-description-block__h2-text {
  font-size: 30px;
  font-weight: $global-font-weight;
  color: $global-light-theme-text-color;
  margin-bottom: 45px;
}

.programm-description-block__text-wrapper {
  display: flex;
  align-items: flex-start;
}

.programm-description-block__p-text {
  @extend .programm-description-block__h2-text;
  font-size: 18px;
  line-height: 1.56;
  max-width: $global-textblock-width - 240px;
  margin: 30px 0 0 30px;
}

//<--- Programm-description-block

//Omnicanal-block --->

.omnicanal-block {
  display: flex;
  background-color: $global-light-theme-color;
  background-image: url(../../images/omnichanel-mockup.png);
  background-repeat: no-repeat;
  background-position: center top 24%;
  background-size: cover;
  min-height: 520px;
}

.omnicanal-block_opacity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 70px 0 84px 0;
}

.omnicanal-block__h2-text {
  @extend .programm-description-block__h2-text;
  color: $global-light-theme-color;
}

.omnicanal-block__p-text {
  @extend .programm-description-block__p-text;
  color: $global-light-theme-color;
}

.omnicanal-block__advantage-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 52px;
}

.omnicanal-block__advantage {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 210px;
  margin-right: 26px;
}

.omnicanal-block__advantage:last-child {
  margin-right: 0;
}

.omnicanal-block__advantage-text {
  @extend .programm-description-block__p-text;
  line-height: 1.33;
  width: auto;
  color: $global-light-theme-color;
  margin-top: 22px;
}

//<--- Omnicanal-block

@import '../../styles/Form_Style/index';
@import '../../styles/Media/index';

// Mobile --->

.billet-block {
  height: 110px;
}

// Mobile --->


