$font-lower-text-size: 10px;
$font-size-big: 14px;
$font-size-bigger: 16px;
$global-font-weight: 500;
$global-light-theme-color: #fff;
$global-light-theme-text-color: #333333;
$global-dark-theme-color: #2e3e4e;
$dark-theme-border: 1px solid rgba(255, 255, 255, .1);
$global-blocks-border: 1px solid #e3e3e3;
$global-textblock-width: 800px;
