@import '../../styles/Reset/index';
@import '../../styles/Globals/index';
@import '../../styles/Variables/index';
@import '../../styles/Header_Dark_Style/index';
@import '../../styles/SBottomHeader_Style/index';

//Global-styles --->

body,
main,
.billet-block {
  background: $global-dark-theme-color;
}

//<--- Global-styles

//Mystery-vendor-header-block --->

.mystery-vendor-block-header {
  background: $global-dark-theme-color;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 0;
}

.mystery-vendor-block-header__align-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 980px;
}

.mystery-vendor-block-header__h1-text {
  max-width: 166px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.15;
  color: #ffffff;
}

.mystery-vendor-block-header__h3-text {
  max-width: 680px;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

//<--- Mystery-vendor-header-block

//Num-one-agency --->

.num-one-agency {
  background: $global-light-theme-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
}

.num-one-agency__header-wrapper {
  @extend .num-one-agency;
  padding: 0;
  margin-bottom: 50px;
}

.num-one-agency__h3-text {
  font-size: 40px;
  font-weight: 600;
  color: $global-light-theme-text-color;
  margin: 20px 0;
}

.num-one-agency__low-h3-text {
  font-size: 20px;
  color: #7f7f7f;
  line-height: 1.5;
  font-weight: $global-font-weight;
  text-align: center;
  max-width: 380px;
}

.num-one-agency__p-text {
  @extend .mystery-vendor-block-header__h3-text;
  margin-top: 0;
  max-width: 780px;
  color: $global-light-theme-text-color;
}

//<--- Num-one-agency

//Effective-block --->

.effective-block {
  background-color: $global-light-theme-color;
  background-image: url(../../images/mystery-shopping.jpg);
  background-repeat: no-repeat;
  background-position: center bottom 24%;
  background-size: cover;
}

.effective-block_opacity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 115px;
  background-color: rgba(0,0,0,.4);
}

.effective-block__align-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 980px;
  margin-top: 65px;
}

.effective-block__h2-text {
  max-width: 200px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.15;
  color: #ffffff;
}

.effective-block__p-text {
  max-width: 680px;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

//<--- Effective-block

// Adv-block --->

.adv-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 0;
  background-color: #fff;
}

.adv-block__align-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1180px;
}

.adv-block__adv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}

.adv-block__h3-text {
  font-size: 30px;
  text-align: center;
  color: #2c3e4f;
  margin: 30px 0 20px;
}

.adv-block__p-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #1e1e1e;
}

// <--- Adv-block

//KPI-block --->

.KPI-block {
  background: #2c3e4f;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0;
}

.KPI-block__align-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
}

.KPI-block__left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 260px;
}

.KPI-block__h2-text {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.15;
  color: #ffffff;
  margin-bottom: 15px;
}

.KPI-block__h3-text {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.KPI-block__p-text {
  max-width: 680px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}

//<--- KPI-block

//Workflow-block --->

.workflow-cheme-block {
  background: $global-light-theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 820px;
}

//<--- Workflow-block

//Professional-block --->

.professional-block {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  border-bottom: 1px solid #dcdcdc;
}

.professional-block__h2-text {
  font-size: 40px;
  font-weight: 600;
  color: #2c3e4f;
  margin-bottom: 80px;
}

.professional-block__p-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 980px;
}

.professional-block__p-text {
  max-width: 680px;
  font-size: 20px;
  line-height: 1.5;
  color: #1e1e1e;
  margin-bottom: 40px;
  position: relative;
}

.professional-block__p-text:last-child {
  margin-bottom: 0;
}

.professional-block__p-text:before {
  content: '';
  width: 18px;
  height: 18px;
  background-color: #dcdcdc;
  border-radius: 50%;
  border: solid 2px #ffffff;
  position: absolute;
  top: 30px;
  left: -140px;
  z-index: 2;
}

.professional-block__p-text:after {
  content: '';
  width: 2px;
  height: 150%;
  background-color: #dcdcdc;
  position: absolute;
  top: 30px;
  left: -130px;
  z-index: 1;
}

.professional-block__p-text:last-child:after {
  display: none;
}

//<--- Professional-block

@import '../../styles/Footer_Style/index';
@import '../../styles/Modal_Style/index';
@import '../../styles/Form_Style/index';
@import '../../styles/Media/index';

// Mobile --->

.billet-block {
  height: 110px;
}

// Mobile --->


