@import '../styles/Reset/index';
@import '../styles/Globals/index';
@import '../styles/Variables/index';
@import '../styles/Header_Dark_Style/index';

//Global-styles --->

body,
main,
.billet-block {
  background: $global-dark-theme-color;
}

//<--- Global-styles

//Product-header-block --->

.franchising-header-block {
  border-top: $dark-theme-border;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: $global-dark-theme-color;
  padding: 80px 0;
}

.franchising-header-block__align-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 980px;
}

.franchising-header-block__h1-text {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.15;
  color: #ffffff;
  margin-bottom: 20px;
}

.franchising-header-block__h3-text  {
  max-width: 680px;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

//<--- Product-header-block

//Problems-block --->

.problems-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: $global-light-theme-color;
  padding: 100px 0;
  
}

.problems-block__main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1180px;
}

.problems-block__problem-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}

.problems-block__p-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #1e1e1e;
  margin-top: 30px;
}

//<--- Problems-block

//Decision-img-block --->

.decision-img-block {
  display: flex;
  justify-content: center;
  background-color: $global-light-theme-color;
  background-image: url(../images/thinkglobal.jpg);
  background-repeat: no-repeat;
  background-position: center top 36%;
  background-size: cover;
  padding: 80px 0 120px;
}

.decision-img-block__align-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  max-width: 980px;
}

.decision-img-block__text-container {
  width: 440px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.decision-img-block__h2-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #2c3e4f;
  margin-bottom: 20px;
}

.decision-img-block__p-text {
  font-size: 20px;
  line-height: 1.5;
  color: #1e1e1e;
}

//<--- Decision-img-block

//Decisions-block --->

.decisions-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: $global-light-theme-color;
  padding: 100px 0 40px;
  border-bottom: 1px solid #dcdcdc;
}

.decisions-block__main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1140px;
  flex-wrap: wrap;
}

.decisions-block__decision-wrapper {
  display: flex;
  align-items: flex-start;
}

.decisions-block__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 360px;
  position: relative;
  margin-left: 40px;
}

.decisions-block__h3-text {
  font-size: 30px;
  line-height: 1.13;
  color: #2c3e4f;
  margin-bottom: 20px;
}

.decisions-block__p-text {
  font-size: 20px;
  line-height: 1.5;
  color: #1e1e1e;
}

.decisions-block__decision-wrapper {
  margin-bottom: 60px;
}

//<--- Decisions-block

@import '../styles/Footer_Style/index';
@import '../styles/Modal_Style/index';
@import '../styles/Form_Style/index';
@import '../styles/Media/index';