@import '../styles/reset/reset';
@import '../styles/fonts/fonts';
@import '../styles/fonts/body-font';
@import '../styles/Body_Width/body-width';
@import '../styles/variables/variables';
@import '../styles/Header_Dark/style';
@import '../styles/Scroll_Container/scroll_container';

//Global-styles --->

body,
main,
.billet-block {
  background: $global-dark-theme-color;
}

//<--- Global-styles

//Product-header-block --->

.franchising-header-block {
  border-top: $dark-theme-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $global-dark-theme-color;
  min-height: 250px;
  padding: 45px 0 52px 0;
}

.franchising-header-block__h1-text {
  font-size: 40px;
  text-align: center;
  color: $global-light-theme-color;
  font-weight: $global-font-weight;
  margin-bottom: 47px;
}

.franchising-header-block__h3-text  {
  @extend .franchising-header-block__h1-text;
  font-size: 18px;
  max-width: 570px;
  line-height: 1.55;
  margin-bottom: 0;
}

//<--- Product-header-block

//Problems-block --->

.problems-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 343px;
  background: $global-light-theme-color;
  padding-top: 40px; 
  
}

.problems-block__main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 675px;
}

.problems-block__problem-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 140px;
  position: relative;
}

.problems-block__problem-wrapper_after-border::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 140px;
  width: 85px;
  height: 100%;
  border-bottom: $global-blocks-border;
  border-top: $global-blocks-border;
}

.problems-block__problem-wrapper:last-child {
  margin-right: 0;
}

.problems-block__p-text {
  @extend .franchising-header-block__h3-text;
  color: $global-light-theme-text-color;
  text-align: left;
  margin-left: 60px;
}

//<--- Problems-block

//Decision-img-block --->

.decision-img-block {
  background-color: $global-light-theme-color;
  background-image: url(../images/thinkglobal.jpg);
  background-repeat: no-repeat;
  background-position: center top 36%;
  background-size: cover;
  height: 450px;
  display: flex;
}

.decision-img-block_opacity-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, .4);
}

.decision-img-block__h2-text {
  font-size: 30px;
  color: $global-light-theme-color;
  font-weight: $global-font-weight;
  margin-bottom: 50px;
}

.decision-img-block__p-text {
  @extend .franchising-header-block__h3-text;
  max-width: $global-textblock-width - 15px;;
}

//<--- Decision-img-block

//Decisions-block --->

.decisions-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $global-light-theme-color;
  min-height: 1047px;
  padding-top: 50px;
}

.decisions-block__main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 720px;
  flex-wrap: wrap;
}

.decisions-block__main-wrapper  img {
  align-self: center;
  position: relative;
  right: 30px;
}

.decisions-block__decision-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 320px;
  margin-right: 80px;
  margin-bottom: 76px;
}

.decisions-block__h3-text_width {
  width: 240px;
}


.decisions-block__decision-wrapper_1-margin-right {
  margin-right: 80px;
}

.decisions-block__decision-wrapper_2-margin-right {
  margin-right: 0px;
}

.decisions-block__decision-wrapper_3-margin-right {
  margin-right: 80px;
}

.decisions-block__decision-wrapper_4-margin-right {
  margin-right: 0px;
}

.decisions-block__decision-wrapper_5-margin-right {
  margin-right: 80px;
}

.decisions-block__decision-wrapper_6-margin-right {
  margin-right: 0;
}

.decisions-block__decision-wrapper_margin-bottom-none {
  margin-bottom: 0;
}

.decisions-block__h3-text {
  font-size: 22px;
  font-weight: $global-font-weight;
  color: $global-light-theme-text-color;
  margin-top: 36px;
}

.decisions-block__p-text {
  width: auto;
  color: $global-light-theme-text-color;
  font-size: 18px;
  line-height: 1.56;
  font-weight: $global-font-weight;
  text-align: left;
  margin-top: 20px;
}

.decisions-block__p-text_margin-top {
  margin-top: 48px;
}

//<--- Decisions-block

@import '../styles/Footer_Form/footer_form';
@import '../styles/media/media';