@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../styles/Fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"),
   url("../styles/Fonts/Lato-Regular/Lato-Regular.woff") format("woff"),
   url("../styles/Fonts/Lato-Bold/Lato-Regular.woff2") format("woff2"),  
   url("../styles/Fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"),
   url('../styles/Fonts/Lato-Light/Lato-Regular.svg#Lato-Light') format('svg'); }

