@import '../styles/Reset/index';
@import '../styles/Globals/index';
@import '../styles/Variables/index';
@import '../styles/Header_Dark_Style/index';
@import '../styles/Scroll_Container/scroll_container';

//Global-styles --->

body,
main,
.billet-block {
  background: $global-dark-theme-color;
}

//<--- Global-styles

//Product-header-block --->

.product-header-block {
  border-top: $dark-theme-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $global-dark-theme-color;
}

.product-header-block__h1-text {
  max-width: $global-textblock-width;
  margin: 49px 0 55px 0;
  font-size: 40px;
  text-align: center;
  color: $global-light-theme-color;
  font-weight: $global-font-weight;
}

.product-header-block__h3-text  {
  @extend .product-header-block__h1-text;
  font-size: 18px;
  max-width: 500px;
  margin: 0 0 48px 0;
  line-height: 1.55;
}

//<--- Product-header-block

//Big-mac-block --->

.big-mac-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1120px;
  background: $global-light-theme-color;
  padding: 67px 0 90px 0;
  border-bottom: $global-blocks-border;
}

.big-mac-block__h2-text {
  font-size: 30px;
  color: $global-light-theme-text-color;
  font-weight: $global-font-weight;
}

.big-mac-block__p-text {
  @extend .big-mac-block__h2-text;
  font-size: 18px;
  max-width: $global-textblock-width - 10px;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 91px;
  line-height: 1.56;
}

//<--- Big-mac-block

//Mystery-vendor-block --->

.mystery-vendor-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 450px;
  background: $global-light-theme-color;
  border-bottom: $global-blocks-border;
}

.mystery-vendor-block__text-wrapper {
  display: inline-flex;
  flex-direction: column;
  margin-right: 85px;
}

.mystery-vendor-block__h2-text {
  @extend .big-mac-block__h2-text;
  margin-top: 12px;
}

.mystery-vendor-block__p-text {
  @extend .big-mac-block__p-text;
  text-align: left;
  max-width: $global-textblock-width - 220px;
  margin-bottom: 17px;
}


//<--- Mystery-vendor-block

//Interview-block --->

.interview-block {
  @extend .mystery-vendor-block;
}

.interview-block > img {
  position: relative;
  left: 20px;
}

.interview-block__text-wrapper {
  @extend .mystery-vendor-block__text-wrapper;
  align-self: flex-start;
  margin: 55px 0 0 110px;
}

.interview-block__h2-text {
  @extend .mystery-vendor-block__h2-text;
}

.interview-block__p-text {
  @extend .mystery-vendor-block__p-text;
  max-width: $global-textblock-width - 200px;
}


//<--- Interview-block

//Staff-rating-block --->

.staff-rating-block {
  @extend .mystery-vendor-block;
}

.staff-rating-block__text-wrapper {
  @extend .mystery-vendor-block__text-wrapper;
  margin-bottom: 28px;
}

.staff-rating-block__h2-text {
  @extend .mystery-vendor-block__h2-text;
}

.staff-rating-block__p-text {
  @extend .mystery-vendor-block__p-text;
}


//<--- Staff-rating-block

//Opportunities-block --->

.opportunities_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 650px;
  padding: 65px 0;
  background: $global-light-theme-color;
  border-bottom: $global-blocks-border;
}

.opportunities_block__h2-text {
  @extend .big-mac-block__h2-text;
  margin-bottom: 67px;
}

.opportunities_block__list-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  left: 25px;
}

.opportunities_block__opportunity {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
}

.opportunities_block__opportunity img {
  align-self: center;
  position: relative;
  right: 30px;
}

.opportunities_block__h3-text {
  @extend .big-mac-block__h2-text;
  font-size: 18px;
  margin: 25px 0 20px 0;
}

.opportunities_block__p-text {
  @extend .big-mac-block__h2-text;
  font-size: 14px;
  line-height: 1.65;
  margin-bottom: 15px;
}

.opportunities_block__p-text_margin-right {
  margin-right: 110px;
}

.opportunities_block__p-text_width {
  width: 270px;
}

.opportunities_block__moreinf-link {
  @extend .opportunities_block__p-text;
  line-height: 1;
  color: #1b92d3;
}

.opportunities_block__demo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 70px;
  background-color: #f5a623;
  font-size: $font-size-big;
  color: $global-light-theme-color;
  margin-top: 40px;
  cursor: pointer;
}

//<--- Opportunities-block

//Integratiob-block --->

.integration-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 290px;
  border-bottom: $global-blocks-border;
  background: $global-light-theme-color;
  padding: 49px 0 55px 0;
}

.integration-block__p-text {
  @extend .mystery-vendor-block__p-text;
  margin-bottom: 43px;
  margin-top: 0;
  max-width: 750px;
  text-align: center;
  letter-spacing: .1px;
}

.integration-block__logo-wrapper > img {
  height: 30px;
  margin: 0 15px;
}

.integration-block__1c-logo {
  height: auto !important;
  position: relative;
  bottom: 3px;
}

.integration-block__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

//<---Integratiob-block

@import '../styles/Form_Style/index';
@import '../styles/Media/index';